In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
%matplotlib inline

In [5]:
df = pd.read_csv("C:/Users/Admin/Desktop/PYTHON/Stage 2/energydata_complete.csv")

In [6]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [7]:
df.isnull().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [8]:
df = df.drop(['date', 'lights'], axis = 1)

In [9]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalized_df = pd.DataFrame(scaler.fit_transform(df), columns = df.columns)

In [10]:
normalized_df.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

In [11]:
X = normalized_df.drop(['Appliances'], axis = 1)
y = normalized_df['Appliances']

In [13]:
#we go ahead to split the dataset for training and testing using train_test_split 

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

In [14]:
x1 = np.array(normalized_df['T2'])
y1 = np.array(normalized_df['T6'])
#we need to reshape the x variable because we have only one predictor here
x1 = x1.reshape(-1, 1)
x1_train, x1_test, y1_train, y1_test = train_test_split(x1, y1, test_size = 0.3, random_state = 42)

from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x1_train, y1_train)
y1_pred = model.predict(x1_test)

from sklearn.metrics import r2_score
r2 = r2_score(y1_test, y1_pred)
round(r2, 2)

0.64

In [15]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(X_train, y_train)
y_pred = reg.predict(X_test)
train_score = reg.score(X_train, y_train)
test_score = reg.score(X_test, y_test)
print("Training score of linear regression model is {:.3f}".format(train_score))
print("Testing score of linear regression model is {:.3f}".format(test_score))

Training score of linear regression model is 0.145
Testing score of linear regression model is 0.149

In [16]:
## Mean Absolute Error(MAE)

from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, y_pred)
print('Mean Absolute Error for linear model: {}'.format(round(mae, 2)))

Mean Absolute Error for linear model: 0.05

In [17]:
## Residual Sum of Squares(RSS)

rss = np.sum(np.square(y_test - y_pred))
print('Residual Sum of Squares for linear model: {}'.format(round(rss, 2)))

Residual Sum of Squares for linear model: 45.35

In [18]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
print('Root Mean Squared Error for linear model: {}'.format(round(rmse, 3)))

Root Mean Squared Error for linear model: 0.088

In [19]:
## R_Squared (coefficient of determination)

from sklearn.metrics import r2_score
r_squared = r2_score(y_test, y_pred)
print('R_Squared for linear model: {}'.format(round(r_squared, 2)))

R_Squared for linear model: 0.15

In [26]:
#to check the weights of the features using linear regression

def weights(model, feat, col_name):
    #this function returns the weight of every feature
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

linear_reg_weights = weights(reg, X_train, 'Linear_model_Weight')
linear_reg_weights
linear_reg_weights.sort_values(["Linear_model_Weight"],ascending=True)

       Features  Linear_model_Weight
0           rv2        -1.015533e+11
1          RH_2        -4.566132e-01
2         T_out        -3.217958e-01
3            T2        -2.361240e-01
4            T9        -1.899212e-01
5          RH_8        -1.575959e-01
6        RH_out        -7.765047e-02
7          RH_7        -4.462370e-02
8          RH_9        -3.980111e-02
9            T5        -1.565920e-02
10           T1        -3.281051e-03
11  Press_mm_hg         6.838751e-03
12           T7         1.032414e-02
13   Visibility         1.230614e-02
14         RH_5         1.599726e-02
15         RH_4         2.640099e-02
16           T4         2.900027e-02
17    Windspeed         2.918709e-02
18         RH_6         3.805716e-02
19         RH_3         9.598836e-02
20           T8         1.019952e-01
21    Tdewpoint         1.177209e-01
22           T6         2.363848e-01
23           T3         2.905510e-01
24         RH_1         5.535724e-01
25          rv1         1.015533e+11

In [27]:
## performing ridge regression at alpha = 0.4

from sklearn.linear_model import Ridge
ridge = Ridge(alpha = 0.4)
ridge.fit(X_train, y_train)
ridge_pred = ridge.predict(X_test)
train_score = ridge.score(X_train, y_train)
test_score = ridge.score(X_test, y_test)
print("Training score of ridge regression model is {:.3f}".format(train_score))
print("Testing score of ridge regression model is {:.3f}".format(test_score))

Training score of ridge regression model is 0.145
Testing score of ridge regression model is 0.149

In [28]:
## Root Mean Squared Error(RMSE) for ridge model

from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, ridge_pred)
rmse = np.sqrt(mse)
print('Root Mean Squared Error for ridge model: {}'.format(round(rmse, 3)))

Root Mean Squared Error for ridge model: 0.088

In [29]:
## lasso model at alpha = 0.001

from sklearn.linear_model import Lasso
lasso0001 = Lasso(alpha = 0.001)
lasso0001.fit(X_train, y_train)
lasso0001_pred = lasso0001.predict(X_test)
train_score = lasso0001.score(X_train, y_train)
test_score = lasso0001.score(X_test, y_test)
print("Training score of lasso regression model is {:.3f}".format(train_score))
print("Testing score of lasso regression model is {:.3f}".format(test_score))
print("Number of features for training: {:.3f}".format(np.sum(lasso0001.coef_ != 0)))

Training score of lasso regression model is 0.025
Testing score of lasso regression model is 0.027
Number of features for training: 4.000

In [30]:
## Root Mean Squared Error(RMSE) for lasso model

from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, lasso0001_pred)
rmse = np.sqrt(mse)
print('Root Mean Squared Error for ridge model: {}'.format(round(rmse, 3)))

Root Mean Squared Error for ridge model: 0.094